<!DOCTYPE html>

<html lang="en">

<head>

	<title> {{ title }} </title>

	<meta charset="utf-8">

    <!-- This facicon doesnt exist, but this is how you might add one -->
    <link rel="shortcut icon" href="res/favicon.ico"  type="image/x-icon" />

    <!-- One way to make a 'global' stylesheet -->
    <link rel="stylesheet" type="text/css" href="css/global.css">

</head>
